.email-reader {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.email-reader-form {
  display: flex;
  flex-direction: column;
  gap: 1ex;
}

.email-reader-list {
}

.email-reader-btn-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.email-reader-btn-group > .btn {
  width: 100%;
}

.ng-invalid:not(form), .ng-invalid.required {
  border-left: yellow solid 10px !important;
}

.ng-valid[required], .ng-valid.required {
  border-left: green solid 10px !important;
}

.invalid-input {
  background-color: firebrick !important;
}

.btn:disabled {
  cursor: not-allowed!important;
  background-color: gray;
  color: white;
  border-color: gray;
}
