<div class="EmailList">
  <h2>List of Emails</h2>
  <form class="EmailList-filter">
    <label for="filterText">Filter:</label>
    <input class="form-control"
           type="text"
           name="filterText"
           id="filterText"
           placeholder="Enter text to filter the emails"
           [(ngModel)]="filterText"
    >
    <input class="form-check"
           type="checkbox"
           name="hideNoBody"
           id="hideNoBody"
           [(ngModel)]="hideNoBody"
    >
    <label>Hide mails without body</label>
  </form>
  <div *ngIf="this.getNumEmails() === 0">
    The list of emails is empty
  </div>
  <table class="table"
         *ngIf="!(this.getNumEmails() === 0)"
  >
    <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Subject</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let mail of this.getEmails() | filterArrayImpure:filterText:(hideNoBody? ['body'] : []);">
      <td>{{ mail['from'] }}</td>
      <td>{{ mail['to'] }}</td>
      <td>{{ mail['subject'] }}</td>
      <td class="btn-group">
        <button class="btn btn-outline-primary" [routerLink]="['/email/', mail['id']]">
          View
        </button>
        <button class="btn btn-outline-danger" (click)="handleClickDelete(mail['id'])">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-outline-primary" [routerLink]="'/create/email'">
    Write Email
  </button>
</div>
